/* STYLE SECTIONING TAGS */
body {
  background-color: lightgray; 
 }

 /* STYLE TEXT */
 
 h1 {
   color: black;
 }
 
 /* STYLE IMAGES */
 
 /* STYLE NAV BAR */
 /* Reset some default styles */
 body, ul, li, a {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
 }
 
 /* Basic styles for the body */
 body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
 }
 
 /* Styling the navigation bar */
 nav {
   background-color: #333;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 
 .navbar {
   display: flex;
   justify-content: center;
   padding: 10px 0;
 }
 
 .navbar li {
   margin: 0 15px;
 }
 
 .navbar a {
   color: #fff;
   font-size: 18px;
   padding: 10px 15px;
   transition: background-color 0.3s, color 0.3s;
 }
 
 .navbar a:hover {
   background-color: #555;
   color: #fff;
   border-radius: 4px;
 }
 
 
 body {
   font-family: Arial, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
 }
 
 .container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   margin-bottom: 20px;
 }
 
 .box {
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
 }
 .abacus-practice-container  .box{
  width:150px;
  height:30px;
  border: 1px solid black;
  border-right:2px solid black;
  border-left:2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 
 .box:hover {
   background-color: #e0e0e0;
 }
 
 .container .center {
   grid-column: span 2;
   justify-self: center;
 }
 

 /* Abacus Practice Quiz*/
 
.main-heading{
  text-align:center;
}
.box-container{
  display:flex;
  gap:3px;
  justify-content:center;
  margin-bottom:80px;
  flex-wrap: wrap;
  width:1000px;
  margin:0 auto;
}
.box{
  width:150px;
  height:350px;
  border: 1px solid black;
  border-right:2px solid black;
  border-left:2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxsm{
  width:100%;
  height:40px;
  border: 1px solid black;
  text-align:center;
}
.answer-section{
  /* display:flex;
  justify-content:center;
  gap:20px; */

  flex-grow: 1;
}